<div class="container">
    <h2>Oauth-Dropbox Demo</h2>

    <br />

    <!-- <a id="dropbox-header" href="#"><p>DROPBOX</p> -->
    <a href="<%= dropbox_auth_path %>"><p>Connect to Dropbox</p></a>
    <!-- <div id="dropbox-header"><p>DROPBOX</p></div> -->
    <div id="dropbox-menu" class="hidden">
      <%= link_to "View files", "#" %><br />
      <%= link_to "Upload", "#" %><br />
      <%= link_to "Download", "#" %><br />
    </div>

  <br />

</div>
